<div class="{{ELEMENTS_CLASS.BACKGROUND_SIGNUP}}">
  <div class="{{ELEMENTS_CLASS.SIGNUP_CONTAINER}}">
    <button class="{{ELEMENTS_CLASS.CLOSE_BTN}}">x</button>
    <h2>Регистрация</h2>
    <form>
      <input type="text" placeholder="Введите имя пользователя" id="inputUsername" />
      <input type="password" placeholder="Придумайте пароль (минимум 8 символов)" id="inputPassword" />
      <input type="password" placeholder="Повторите пароль" id="inputRepeatPassword" />
      <input type="submit" value="Зарегистрироваться" id="buttonRegister" />
    </form>
    <div class="{{ELEMENTS_CLASS.LOGIN_LINK}}">
      У вас аккаунт? <a href="#" id="loginLinkAnchor">Войти</a>
    </div>
  </div>
</div>
